body  {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: "Hansief", "Arial Black", Gadget, sans-serif;
  flex-direction: column;
}
    h5 {
      align-self: center;
      justify-content: center;
    }
    h7 {
      font-family: arial;
    }
    h8 {
      font-family: arial;
    }
    h9 {
      font-family: arial, sans-serif;
    }
    h10 {
      font-weight: bold;
    }
  .innpakning {
    display: flex;
    flex-flow: column wrap;
  }

  .kommentar {
    text-align: : flex-start;
    padding: 2px;

  background-color: #eeeeee;
  }
  .innhold_om_rbk {
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    width: 55%;
    background-color: white;
    align-self: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 opacity: 0.75;
  }


  .background {
    background-image: url(../bilder/background2.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.navn {
  font-weight: bold;
}

  .unit {

    max-width: 1000px;
    width: 100%;
    font-family:  Gadget, sans-serif;
    padding-top: 20px;
    border-bottom:  2px solid #8d6b36;

  }
    .topptekst {
      padding: 15px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      text-align: center;
    }
    .meny1 {
      display: block;
      position: sticky;
      top: 0;
      background-color: #8E6B33;
      z-index: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-family: "Hansief", "Arial Black", Gadget, sans-serif;
    }
      .dropdown {
        position: relative;
        display: inline-block;
        font-family: "Hansief", "Arial Black", Gadget, sans-serif;
        transition: background-color 0.3s;
      }
      .dropbtn {
        background-color: #8E6B33;
        color: white;
        font-size: 15px;
        padding: 15px;
        border: none;
        font-family: "Hansief", "Arial Black", Gadget, sans-serif;
        transition: background-color 0.3s;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #8E6B33;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 15px;
        transition: background-color 0.3s;
      }
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s;
      }
      .dropdown-content a:hover {
        background-color: #715528;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown:hover .dropbtn {
        background-color: #715528;
      }
    .meny2 {
      display: none;
    }
      .meny_active {
        background-color: #715528;
      }
    .innhold {
      padding: 15px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: white;
      color: black;
    }

      .breddeinnhold {
        max-width: 1000px;
      }
        .breddeinnhold a {
            text-decoration: none;
            color: white;
        }
        .breddeinnhold a:hover {
          color: white;
        }
        .nyhet1, .nyhet2, .nyhet3{
          padding: 10px;
        }
          .tittel1, .tittel2, .tittel3 h3 {
            text-decoration: none;
            color: #8E6B33;
          }
          .nyhet1:hover h3 {
            color: black;
          }
          .nyhet2:hover h3 {
            color: black;
          }
          .nyhet3:hover h3 {
            color: black;
          }
        .tropp {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
        }
          .spillerrad {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
            .spiller {
              padding: 15px;
              margin: 15px;
              display: flex;
              flex-flow: column nowrap;
              background-color: black;
              color: white;
              width: 300px;
            }
              .spiller ul {
                list-style-type: none;
                margin: 16px;
                padding-left: 0px;
              }
              .spiller ul li {
                font-weight: bold;
                font-family: sans-serif;
              }
              .spiller img {
                margin: 10px;
              }
      * {box-sizing:border-box}
        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }
        /* Hide the images by default */
        .mySlides {
          display: none;
        }
        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        /* Position the "previous button" to the left */
        .prev {
          left: 0;
          border-radius: 3px 0 0 3px;
        }
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          font-family: sans-serif;
          font-weight: bold;
          color: black;
          text-shadow: 1px 1px 0px white;
        }
        .text a {
          color: white;
          text-shadow: 1px 1px 0px black;
        }
          .text a:hover {
            color: #8E6B33;
            text-shadow: 1px 1px 0px white;
          }
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
          font-family: sans-serif;
        }
        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
          background-color: #717171;
        }
        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
        .innhold table {
          color: black;
        }
    .bunntekst {
      padding: 15px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      text-align: center;
      font-size: 20px;
    }
      .bunntekst h5 a {
          color: #8E6B33;
      }
      .bunntekst h5 a:hover {
          color: white;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        width: 60px;
        transition: opacity 0.3s;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }





/* Når bredden er større en høyden gjør den dette i tillegg, og om det står det samme som over så er det dette som  */
@media only screen and (orientation: landscape) {
  body  {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "Hansief", "Arial Black", Gadget, sans-serif;
  }
    .innpakning {
      display: flex;
      flex-flow: column nowrap;
    }
      .topptekst  {
        padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-end;
      }
        .topptekst img  {
          margin-right: 10px;
        }
      .meny1 {
        display: none;
      }
      .meny2 {
        display: block;
        position: sticky;
        top: 0;
        background-color: #8E6B33;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
          ul li {
            display: inline;
          }
          ul a {
            padding: 15px 30px;
            color: white;
            font-size: 15px;
            text-decoration: none;
            background-color: #8E6B33;
            transition: background-color 0.3s;
          }
          ul a:hover {
            background-color: #715528;
          }
          .meny_active {
            background-color: #715528;
          }
      .innhold {
        padding: 15px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: white;
        color: black;
      }
        .breddeinnhold {
          max-width: 1000px;
        }
          .breddeinnhold a {
              text-decoration: none;
              color: white;
          }
          .breddeinnhold a:hover {
            color: white;
          }
            .nyhet1, .nyhet2, .nyhet3{
              padding: 10px;
            }
            .nyhet1:hover h3 {
              color: black;
            }
            .nyhet2:hover h3 {
              color: black;
            }
            .nyhet3:hover h3 {
              color: black;
            }
        .innhold h2 {
          font-size: 40px;
        }
        .tropp {
          display: flex;
          flex-flow: column wrap;
        }
          .spillerrad {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin: 10px;
            max-width: 990px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
            .spiller {
              padding: 15px;
              margin: 15px;
              display: flex;
              align-items: center;
              flex-flow: column nowrap;
              background-color: black;
              color: white;
              width: 30%;
              min-width: 300px;
              height: 500px;

            }
              .spiller ul li {
                display: block;
                font-weight: bold;
              }
        * {box-sizing:border-box}
          /* Slideshow container */
          .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
          }
          /* Hide the images by default */
          .mySlides {
            display: none;
          }
          /* Next & previous buttons */
          .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
          }
          /* Position the "next button" to the right */
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          /* Position the "previous button" to the left */
          .prev {
            left: 0;
            border-radius: 3px 0 0 3px;
          }
          /* On hover, add a black background color with a little bit see-through */
          .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
          /* Caption text */
          .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            color: black;
            text-shadow: 1px 1px 0px white;
          }
          .text a {
            color: white;
            text-shadow: 1px 1px 0px black;
          }
            .text a:hover {
              color: #8E6B33;
              text-shadow: 1px 1px 0px white;
            }
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
            font-family: sans-serif;
          }
          /* The dots/bullets/indicators */
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          .active, .dot:hover {
            background-color: #717171;
          }
          /* Fading animation */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
          }
          @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
          }
          @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
          }
      .bunntekst {
        padding: 15px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
      }
        .bunntekst h5 a:hover {
            color: white;
        }
        .fa {
          padding: 20px;
          font-size: 20px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
          width: 60px;
        }
        .fa:hover {
          opacity: 0.7;
        }
        .fa-facebook {
          background: #3B5998;
          color: white;
        }
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
        .fa-instagram {
          background: #125688;
          color: white;
        }

}

.nyhet1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nyhet2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nyhet3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tittel1 {
  align-self: center;
  text-align: center;
}

.tittel2 {
  text-align: center;
}


.tittel3 {
  text-align: center;
}

form {
max-width: 1000px;
width: 100%;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #8d6b36;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]:hover {
  background-color: #695028;
}

/* css for nyheter.php */
a nyhet1 {
  width: 50%;
}
}
